.products {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .product-card {
    display: flex;
    gap: 1rem;
    border: 2px white solid;
    border-radius: 8px;
    padding: 10px;

    & figure {
      width: 200px;
      height: 200px;

      & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    & div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    & button {
      align-self: flex-end;
    }

  }
}
